@tailwind base;
@tailwind components;
@tailwind utilities;

.parent-li:hover>a {
    color: gray;
}

.outline-text {
    -webkit-text-stroke: 1px #f8bc84;
}

ul.primary li:hover ul {
    display: block;
}